.accueil img{
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.identifiant {
    text-align: center;
    margin: auto;
}

.start {
  display: block;
  margin-left: auto ;
  margin-right: auto;
  width: 200px;
  height: 100px;
}

/*.sectionUno{
  display: flex;
  justify-content: center;
  align-items: baseline; s
}*/

.settings {
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: black;
  height: 265px;
  width: 143px ;
  margin-top: 20px;
  padding-left: 16px;

}

/*.order{
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: black;
  height: 700px;
  width: 143px ;
  margin-top: 20px;
  padding-left: 16px;
}*/

.forecast {
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: black;
  height: 270px;
  width: 143px ;
  margin-top: 20px;
  padding-left: 16px;
}

.forecast img {
  max-width: 40%;
  display: block;
  margin: auto;
  padding-right: 16px;
}

.forecast p{
  text-align: center;
  padding-right: 16px;
}
