.accueil img{
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.identifiant {
    text-align: center;
    margin: auto;
}

.start {
  display: block;
  margin-left: auto ;
  margin-right: auto;
  width: 200px;
  height: 40px;
}

.sectionUno{
  display: flex;
  //justify-content: center;
  //align-items: baseline; s
}

.settings {
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: black;
  height: auto;
  width: auto ;
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 10px;

}

.order{
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: black;
  height: auto;
  width: auto  ;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.order table{
  border: 1px solid black;
  border-collapse: collapse;
}

.order th, td{
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

.order buttons{
  display: block;
  margin-left: auto ;
  margin-right: auto;
}

.forecast {
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: black;
  height: 270px;
  width: 143px ;
  margin-top: 20px;
  padding-left: 16px;
}

.forecast img {
  max-width: 40%;
  display: block;
  margin: auto;
  padding-right: 16px;
}

.forecast p{
  text-align: center;
  padding-right: 16px;
}

.budgetHistory{
  //display: flex;
  border-width: thin;
  border-style: solid;
  border-color: black;
  height: auto;
  width: auto  ;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.day0{
  margin-top: 35px;
}

.dayb{
  margin-top: 35px;
}

.daybb{
  margin-top: 35px;
}
